#bar {
  margin-right: 2vw;
  margin-left: 2vw;
  width: 94vw;
  background: transparent;
  z-index:2;
}

@media screen and ( max-width:600px ){
  .item{
    text-align:center;
  }
}

@media screen and (max-width:500px) {
  #bar {
    position: static;
  }
}
