@media screen and ( max-width:600px ){
  .item{
    text-align:center;
  }
}
#bar {
  background: transparent;
  z-index:2;
}

@media screen and (max-width:500px) {
  #bar {
    position: static;
  }
}
