span {
  padding:0.1em;
  letter-spacing: 2px;
  font-weight: 400;
  animation-name: blink;
  animation-iteration-count: infinite;
}
.skill-icon {
  padding-top: 2vh;
  width:17%;
}
.Python-span {
    text-shadow: 0px 0px 40px blue, 0px 0px 40px blue, 0px 0px 5px blue;
    animation-duration: 1.8s;
}
.Django-span {
    text-shadow: 0px 0px 40px green, 0px 0px 40px green, 0px 0px 5px green;
    animation-duration: 1.9s;
}
.Bootstrap-span {
    text-shadow: 0px 0px 40px purple, 0px 0px 40px purple, 0px 0px 5px purple;
    animation-duration: 2s;
}
.JavaScript-span {
    text-shadow: 0px 0px 40px yellow, 0px 0px 40px yellow, 0px 0px 5px yellow;
    animation-duration: 2.1s;
}
.React-span {
    text-shadow: 0px 0px 40px cyan, 0px 0px 40px cyan, 0px 0px 5px cyan;
    animation-duration: 2.2s;
}
.SQL-span {
    text-shadow: 0px 0px 40px red, 0px 0px 40px red, 0px 0px 5px red;
    animation-duration: 2.3s;
}
.HTMLC-span {
    text-shadow: 0px 0px 40px white, 0px 0px 40px white, 0px 0px 5px white;
    animation-duration: 2.4s;
}
.welcome-card {
  margin: auto;
  margin-top: -5vh;
  width:66%;
  text-align: center;
  height: 100vh;
  margin-bottom: 20vh;
  height:100vh;
  padding-bottom: 20vh;
}

#home-avatar {
  height: 15em;
  margin-top: 5vh;
}

#card-box-content {
  background:rgba(0, 0, 0, 0.15);
  width: 100%;
}
#title{
  font-size: 4.8rem;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  overflow: hidden;
  border-right: .1em solid transparent; 
  margin: 0 auto;
  letter-spacing: .1em;
  white-space: nowrap;
  animation: 
    typing 5s steps(500, end),
    blink-caret .5s step-end 8;
  text-shadow: 0 0 5px #000, 0 0 10px #000;
  padding-bottom: 0.115em;
  padding-left: 0.1em;
  padding-bottom:0.115em;
  padding-left:0.1em;
  color: #005500;
}

  
@media screen and ( max-width:800px ){
  #home-avatar {
    height: 12em;
    margin-top: 14vh;
  }
  #title{
    text-align:center;
    font-size: 42px;
    padding-left:0em;
  }
  #skills{
    font-size:20px;
  }
}

@media screen and ( max-width:470px ){
  #home-avatar {
    height: 8em;
  }
  #title{
    text-align:center;
    font-size: 24px;
    padding-left:0em;
  }
  #skills{
    font-size:12px;
  }
}
@keyframes blink {
    50% {
        opacity: 0.3;
    }
    100% {
      opacity: 1;
    }

}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: green; }
}
