#contact-card-left {
  border: 1.3px solid green;
  background: #ccc;
  border-radius: 5%;
}

#contact-card-right {
  border: 1.3px solid green;
  border-radius: 5%;
  background: #ccc;
}

#contact-grid {
  width: 90%;
  margin:auto;
  margin-top: 5vh;
  margin-bottom: 100px;
}

#asaad-description {
  text-align: justify;
  font-family: 'Indie Flower', cursive;
  font-size: 1.25em;
  font-weight:600;
}

#contact-avatar {
  width: 40%;
  border-radius: 40%;
  box-shadow: 0px 0px 40px purple, 0px 0px 40px purple, 0px 0px 5px purple;
  margin-top: 2vh;
  margin-bottom: 5vh;
}

#namee {
  font-family: 'Dancing Script', cursive;
  font-weight: 650;
  font-size: 2.7em;
}
#contact-me-text{
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-weight: 600;
  font-size:3.5em;
}
.info {
  font-family: 'Dancing Script', cursive;
}
#phone-number {
  padding-top:10vh;
  font-size: 20px;
}
#skype {
  font-size: 20px;
}
#email {
  font-size: 20px;
}
@media screen and ( max-width:470px ){
  #phone-number {
    font-size: 15px;
  }
  #email {
    font-size: 15px;
  }
  #skype {
    font-size: 15px;
  }
}
