#contact-card-left {
  border: 1px solid green;
  background: #ccc;
  border-radius: 5%;
  font-family: 'Concert One', cursive;
}


#contact-grid {
  width: 90%;
  margin:auto;
  margin-top: 5vh;
  height: 150vh;
}

#description {
  text-align: justify;
}

#contact-card-right {
  border: 1px solid green;
  border-radius: 5%;
  background: #ccc;
  font-family: 'Roboto';
}

#contact-avatar {
  width: 40%;
}

#namee {
  font-family: 'Roboto','cursive';
  font-weight: 5px;
}

span {
  letter-spacing: 2px;
}

.info {
  padding-bottom: 10vh;
}

#phone-number {
  padding-top:10vh;
  font-size: 20px;
}

#skype {
  font-size: 20px;
}

#email {
  font-size: 20px;
}

@media screen and ( max-width:470px ){
  #phone-number {
    font-size: 15px;
  }
  #email {
    font-size: 15px;
  }
  #skype {
    font-size: 15px;
  }
}
